html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  width: 100%;
}

button {
  font-size: 18px;
  outline: none;
  border: none;
  color: black;
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: rgb(230, 230, 230);
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.hidden {
  display: none !important;
}

/* #game-canvas {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  border: 2px solid gray;
} */

#leaderboard {
  position: fixed;
  top: 5%;
  left: 11.5%;
  width: 15%;
  height: 30%;
  padding: 10px;
  /* border-radius: 5px; */
  background-color: rgba(123, 173, 230, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  /* box-shadow: 0px 0px 10px rgba(255,255,255,0.3); */
}

#leaderboard.hidden-to-left{

  left: -50%;

}


#leaderboard table {
  width: 100%;
  border-collapse: collapse;
}

#leaderboard th, #leaderboard td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

#leaderboard td {
  font-size: 16px;
}

#leaderboard tr:last-child td {
  border-bottom: none;
}

#disconnect-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#disconnect-modal>div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 15px 20px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  #play-menu {
    padding: 10px 15px;
    min-width: 280px;
  }

  #disconnect-modal>div {
    padding: 10px;
    min-width: 280px;
  }

  #leaderboard th {
    padding: 0 3px;
  }

  #leaderboard td {
    padding: 0 3px;
  }

  #leaderboard table {
    font-size: 14px;
  }
}

/*------------------------------------*/

#deck{
  z-index: 10;
  position: absolute; 
  top: 1%; 
  left: 4%;
  width: 100%;
  height: 0%;
}

#container {
  position: absolute;
  top: 39%;
  /* right: 3%;
  width: 40%; */
  left: 3%;
  width: 94%;
  height: 81%;
  overflow: hidden; 
  transform: translateY(-50%);
  cursor: inherit;
}

#container-body {
  /* z-index: 12; */
  position: absolute;
  top: 53%;
  left: 50%;
  width: 100%;
  height: 87%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  cursor: inherit;
}

#inputbar {
  position: fixed;
  bottom: 5%;
  left: 11.5%;
  width: 500px;
  margin: auto;
  background-color: rgba(123, 173, 230, 0.2);
  color: white;
  padding: 10px;
  z-index: 10;
  border: none;
  outline: none;
  transition: 0.5s;
}

#inputbar:focus {
  background-color: rgba(123, 173, 230, 0.6);
}

#inputbar.hidden-to-left{

  left: -50%;

}

#inputbar::placeholder {
  color: white;
  opacity: 0.5; /* Lower opacity to ensure the placeholder text is less prominent than user input */
}

#terminal-box {
  position: absolute;
  top: 87%;
  /* right: 3%; */
  /* width: 40%; */
  left: 3%;
  width: 94%;
  height: 20%;
  /* 수정된 높이 */
  display: flex;
  overflow: hidden;
  transform: translateY(-50%);
  /* terminal이 아래쪽에 있으므로, positive 값을 사용해야 합니다. */
  /* border: 1px solid hsl(186 100% 69%); */
  cursor: inherit;
  background-color: rgba(123, 173, 230, 0.2);
}

#terminal-container {
  flex: 8;
  height: 100%;
  overflow: auto;
}

#terminal {
  flex: 8;
  left: 2%;
  top: 2%;
  bottom: 2%;
  right: 2%;

  height: 96%;
  overflow: auto;
}

#separator {
  flex: 0;
  width: 2px; /* You can adjust this value to change the width of the line */
  color: white;
}

#run-button {
  flex: 2;
  top: 0%;
  height: 50%;
}

#compile-button {
  flex: 2;
  top: 50%;
  height: 50%;
}

.terminal-error {
  font-size: 20px;  
  font-weight: bold;
  color: rgb(248, 30, 30);
}

/* 성공 메시지 */
.terminal-success {
  font-size: 20px;
  font-weight: bold;
  color: rgb(13, 218, 13);
}
#terminal::-webkit-scrollbar {
  width: 8px;
  /* Scrollbar width */
}

#terminal::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  /* Scrollbar track color */
}

#terminal::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  /* Scrollbar thumb color */
  border-radius: 4px;
}

#terminal::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
  /* Hover color */
}

#deck-one, #deck-two, #deck-thress {
  position: absolute;
  top: 0%;
  padding: 10px 20px;
  width: 15%;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(123, 173, 230, 0.7);  /* half-transparent grey */
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#deck-one {
  left: 0%;
}

#deck-two {
  left: 16%; /* Adjust as necessary */
}

#deck-thress {
  left: 32%; /* Adjust as necessary */
}

#deck-one:hover, #deck-two:hover, #deck-thress:hover {

  background-color: rgba(123, 173, 230, 0.9);
}

#deck-one:active, #deck-two:active, #deck-thress:active {
  background-color: rgba(123, 173, 230, 1);
}

@media only screen and (max-width: 600px) {
  #deck-one, #deck-two, #deck-thress {
    font-size: 1em;
    padding: 5px 10px;
  }
}

/* -------------------------------------------------------- */

#main-container {
  z-index: 10;
  position: fixed;
  right: -40%; /* Initially hide the container off-screen to the right */
  top: 0;
  width: 40%; /* Container takes 50% of the full width */
  height: 100%; /* Container takes the full height */
  background-color: rgba(123, 173, 230, 0.2); /* Change to your preferred color */
  overflow-x: hidden;
  transition: 0.5s;
}

#main-container.open {
  right: 0; /* When the container is opened, it aligns to the right edge */
}

#toggle-main-container {
  z-index: 10;
  position: fixed;
  width: 10%;
  height: 10%;
  top: 5%;
  right: 0%; /* Initially hide half of the button off-screen to the right */
  transition: 0.5s;
}

#toggle-main-container.open {
  right: 40%; /* When the container is opened, the button moves to the left */
}

#toggle-event {
  z-index: 10;
  position: fixed;
  width: 10%;
  height: 10%;
  top: 5%;
  left: 0%; /* Initially hide half of the button off-screen to the right */
  transition: 0.5s;
}

#toggle-event.hidden-to-left {
  left: -30%; /* When the container is opened, the button moves to the left */
}

#toggle-event.open {
  left: 30%; /* When the container is opened, the button moves to the left */
  z-index: 11;
}

#toggle-module {
  z-index: 10;
  position: fixed;
  width: 10%;
  height: 10%;
  top: 16%;
  left: 0%; /* Initially hide half of the button off-screen to the right */
  transition: 0.5s;
}

#toggle-module.hidden-to-left {
  left: -30%; /* When the container is opened, the button moves to the left */
}

#toggle-module.open {
  left: 30%; /* When the container is opened, the button moves to the left */
  z-index: 11;
}

.sidebar {
  position: fixed;
  left: -30%; /* Sidebar width */
  top: 0;
  width: 30%; /* Sidebar width */
  height: 100%;
  background-color: rgba(123, 173, 230, 0.2);
  overflow-x: hidden;
  transition: 0.5s;
  padding: 10px;
  color: #fff;
}

.sidebar.open {
  left: 0%;
  z-index: 11;
}

.space-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgba(123, 173, 230, 0.2);
  border: none;
  transition: all 0.3s;
}

.space-button:hover {
  background-color: rgba(123, 173, 230, 0.6);
}

.space-button:active {
  background-color: rgba(128, 128, 128, 0.9);
  transform: translateY(4px);
}