html,
body {

    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
    background-color: black;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    width: 100%;
}

#gotoLobby {
    font-size: 18px;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 3px;
    transition: background-color 0.2s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#gotoIngame {

    font-size: 18px;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 3px;
    transition: background-color 0.2s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

#gotoIndex {

    font-size: 18px;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 3px;
    transition: background-color 0.2s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

button {
    font-size: 18px;
    outline: none;
    border: none;
    color: black;
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 3px;
    transition: background-color 0.2s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: rgb(230, 230, 230);
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    #play-menu {
        padding: 10px 15px;
        min-width: 280px;
    }

    #disconnect-modal>div {
        padding: 10px;
        min-width: 280px;
    }

    #leaderboard th {
        padding: 0 3px;
    }

    #leaderboard td {
        padding: 0 3px;
    }

    #leaderboard table {
        font-size: 14px;
    }
}

/*------------------------------------*/

#container-lobby {
  position: absolute;
  top: 39%;
  left: 50%;
  width: 40%;
  height: 72%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  cursor: inherit;
}

#container-lobby-body {
  position: absolute;
  top: 53%;
  left: 50%;
  width: 100%;
  height: 87%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(128, 128, 128, 0.5);
  cursor: inherit;
}

#terminal-lobby {
  position: absolute;
  left: 50%;
  top: 87%;
  width: 40%;
  height: 20%;
  /* 수정된 높이 */
  overflow: hidden;
  transform: translate(-50%, -50%);
  /* terminal이 아래쪽에 있으므로, positive 값을 사용해야 합니다. */
  border: 2px solid rgba(128, 128, 128, 0.5);
  cursor: inherit;
  background-color: rgba(128, 128, 128, 0.5);
}

/* -------------------------------------------------------- */

#compile-button {
  position: absolute;
  right: 0%;
  top: 0%;
  padding: 10px 20px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff0000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  opacity: 0.7;
}

#compile-button:hover {
  background-color: #cc0000;
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  #compile-button {
    font-size: 1em;
    padding: 5px 10px;
  }
}

/* -------------------------------------------------------- */

/* #start-button {
  position: absolute;
  right: 5%;
  bottom: 5%;
  padding: 10px 20px;
  width: 200px;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff0000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#start-button:hover {
  background-color: #cc0000;
} */

@media only screen and (max-width: 600px) {
  #start-button {
    font-size: 1em;
    padding: 5px 10px;
  }
}


/* -------------------------------------------------------- */

#deck-one, #deck-two, #deck-thress {
  position: absolute;
  top: 0%;
  padding: 10px 20px;
  width: 15%;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(128, 128, 128, 0.5);  /* half-transparent grey */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#deck-one {
  left: 0%;
}

#deck-two {
  left: 16%; /* Adjust as necessary */
}

#deck-thress {
  left: 32%; /* Adjust as necessary */
}

#deck-one:active, #deck-two:active, #deck-thress:active {
  color: #000000;
  background-color: #ffffff;
}

@media only screen and (max-width: 600px) {
  #deck-one, #deck-two, #deck-thress {
    font-size: 1em;
    padding: 5px 10px;
  }
}

/* -------------------------------------------------------- */

#lobby-module {
  position: absolute;
  top: 5%;
  padding: 10px 20px;
  width: 200px;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  background-color: #28a745; /* updated color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  right: 5%;
  opacity: 0.8;
}

#lobby-event {
  position: absolute;
  top: 15%;
  padding: 10px 20px;
  width: 200px;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  background-color: #28a745; /* updated color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  right: 5%;
  opacity: 0.8;
}

#lobby-module:hover, #lobby-event:hover {
  background-color: #218838; /* updated hover color */
}

@media only screen and (max-width: 600px) {
  #lobby-module, #lobby-event {
    font-size: 1em;
    padding: 5px 10px;
  }
}
