@keyframes neonButtonFlicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 1;
        box-shadow: 
        0 0 5px rgba(123, 173, 230, 0.5), 
        0 0 10px rgba(123, 173, 230, 0.5),
        0 0 15px rgba(123, 173, 230, 0.5), 
        0 0 20px rgba(123, 173, 230, 0.5), 
        0 0 30px rgba(123, 173, 230, 0.5);
    }
    20%, 24%, 55% { 
        opacity: 0.5;
        box-shadow: none;
    }
}

.neon-button {
    font-family: 'DNFForgedBlade', sans-serif;
    background: transparent;
    border: none;
    color: rgba(123, 173, 230, 1);
    font-size: 1.5rem;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    animation: neonButtonFlicker 1.5s infinite alternate;
    text-shadow: 
    0 0 5px rgba(123, 173, 230, 0.3), 
    0 0 10px rgba(123, 173, 230, 0.3),
    0 0 15px rgba(123, 173, 230, 0.3), 
    0 0 20px rgba(123, 173, 230, 0.3), 
    0 0 30px rgba(123, 173, 230, 0.3);
}

.neon-button:hover {
    opacity: 1;
    box-shadow: 
    0 0 5px rgba(123, 173, 230, 0.5), 
    0 0 10px rgba(123, 173, 230, 0.5),
    0 0 15px rgba(123, 173, 230, 0.5), 
    0 0 20px rgba(123, 173, 230, 0.5), 
    0 0 30px rgba(123, 173, 230, 0.5);
}